.container {
  padding-top: 10rem;
  display: flex;
  gap: 50px;
  flex-direction: row;
  max-width: 1280px;
  width: 100%;
}

.sidebar {
  width: 30%;
  border: 1px solid;
  border-width: 1px;
}

.chatWrapper {
  width: 60%;
  height: 600px;
  border: 1px solid;
  border-width: 1px;
  position: relative;
}

.inputWrapper {
  padding: 8px;
  position: absolute;
  left: 0;
  right: 0;

  bottom: 0;
}